/* Estilo automático para a página: contato */
section.relacionamento {
    .card {
        height: 100%;
        padding: 36px;
        border: 1px solid #C8AC78;
        background-color: #FFF9F1;
        box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.10);
    }

    ul {
        margin: 0;
        line-height: 160%;
        li {
            list-style-type: none;
        }
    }

    .phone {
        color: #472135;
        line-height: 120%;
        font-weight: 600;
        font-size: 24px;
    }

    p, li {
        color: #472135;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
    }
}