/* ============================
   Exo 2 (Variable Fonts)
   ============================ */

@font-face {
    font-family: "Exo 2";
    src: url("/wp-content/themes/galaxy/assets/fonts/Exo2-VariableFont_wght.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Exo 2";
    src: url("/wp-content/themes/galaxy/assets/fonts/Exo2-Italic-VariableFont_wght.woff2") format("woff2");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

/* ============================
   Space Mono (4 cuts)
   ============================ */

@font-face {
    font-family: "Space Mono";
    src: url("/wp-content/themes/galaxy/assets/fonts/SpaceMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Space Mono";
    src: url("/wp-content/themes/galaxy/assets/fonts/SpaceMono-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Space Mono";
    src: url("/wp-content/themes/galaxy/assets/fonts/SpaceMono-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Space Mono";
    src: url("/wp-content/themes/galaxy/assets/fonts/SpaceMono-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}