html,
body {
    height: 100%;
    margin: 0;
    font-family: "Exo 2", sans-serif !important;
    background-color: #0a0a0a;
}

a.cta,
button.cta {
    display: inline-block;
    background-color: #f5f5f5;
    padding: 14px 36px;
    border-radius: 5px;
    line-height: normal;
    border: none;
    color: #1b1b1b;
    font-weight: 600;
    width: fit-content;
    transition: 300ms all ease-in-out;

    &:hover {
        background-color: #ccbdff;
        color: #321079;
    }

    &.outline {
        background-color: transparent;
        color: #FFF;
        border: 1px solid #fff;

        &:hover {
            background-color: #ccbdff;
            color: #321079;
        }
    }
}

h1 {
    font-weight: 500;
    font-family: 'Space Mono';
    margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Exo 2';
    color: #ccbdff;
    margin: 0;
}

h2 {
    font-size: 40px;
}

p {
    line-height: 160%;
    color: #f9f9f9;
    margin: 0;
}

span {
    color: #ccbdff;
    font-weight: 600;
}

img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

bold {
    font-weight: 600;
}

section {
    padding: 84px 0;
    background-color: #0a0a0a;
    position: relative;
    z-index: 1;
}

#starfield {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    filter: brightness(0.5);
    pointer-events: none;
}

.bg-transparent {
    background: transparent;
}

header {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
    color: #FFFCF5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    a.cta {
        background-color: #C8AC78;
        padding: 14px 36px;
        border-radius: 8px;
        line-height: normal;
    }

    .redes a {
        padding: 0;
    }

    .navbar-collapse {
        .menu-items {
            a {
                color: #FFFCF5;
                position: relative;

                &.active {
                    color: #ccbdff;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 60%;
                        height: 2px;
                        background-color: #4F80E6;
                        bottom: 8px;
                        left: 20%;
                        right: 20%;
                    }
                }
            }
        }
    }

    hr {
        display: none;
    }
}

section.hero-section {
    .hero-content {
        .texto {
            p {
                color: #f5f5f5;
            }
        }
    }
}

.swiper-container {
    position: relative;
}

.swiper-controls {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    top: 50%;

    .swiper-button-prev {
        left: -64px;
    }

    .swiper-button-next {
        right: -64px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        position: relative;
        height: 50px;
        width: 50px;
        color: #FFF;

        &::after {
            padding: 20px;
            background-color: #C8AC78;
            border-radius: 40px;
            aspect-ratio: 1 / 1;
            font-size: 20px;
            line-height: 0;
            align-content: center;
        }
    }
}

footer {
    padding: 100px 0;
    background-color: #000000;
    color: #FFF3E3;
    position: relative;
    /* margin-top: 200px; */

    a,
    p {
        color: #FFF3E3;
    }

    ul {
        line-height: 32px;
        list-style-type: none;
        padding: 0;
    }

    .logo-footer {
        width: fit-content;
        max-width: 230px;
    }

    .contatos {
        display: flex;
        flex-direction: column;
        gap: 24px;

        h4,
        p {
            margin: 0;
        }
    }

    h4 {
        color: #C8AC78;
    }

    .newsletter {
        position: absolute;
        top: -31%;
        width: 100%;
        left: 0;

        .form-control {
            background-color: #FFF3E3;
        }
    }

    .box {
        display: flex;
        gap: 1rem;
        padding: 24px 50px;
        background-color: #472135;
        border-radius: 16px;
    }

}

@media (max-width: 1400px) {
    .navbar-brand {
        img {
            max-width: 200px;
        }
    }

    .navbar-collapse a {
        padding: 0 14px;
    }
}

@media (max-width: 1200px) {
    .navbar-collapse a {
        padding: 0 10px;
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    a.cta {
        width: 100%;
        text-align: center;
    }

    header {
        padding-bottom: 24px;

        .navbar-toggler {
            border: 0;
        }

        .navbar-collapse {
            .menu-items {
                a {
                    color: #472135;
                    position: relative;
                }
            }
        }

        a.cta {
            color: #FFFCF5;
        }

        hr {
            opacity: 1;
            border-top: 1px solid #D8D8D8;
            margin: auto;
        }
    }
}